.App {
  text-align: center;
  background-color: #222f44;
  font-family: "Playfair Display", serif;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 6px;
}

body{
  background-color: #efe0d5;
}


.App-header {
  margin: 30px 0;
}
.Personal-logo {
  max-width: 100px;
  display: block;
  margin: 20px;
}

.App footer {
  font-size: 12px;
  font-family: monospace;
  color: #efe0d5;
  margin-top: 50px;
}

.App footer a {
  color: #814256;
  text-decoration: none;
  font-weight: bold;
}

