.Meaning h3 {
    color: #222f44;
    text-align: left;
    margin-left: 15px;
}

.Meaning {
    box-shadow: rgba(241, 233, 233, 0.1) 5px 5px 5px;
    background-color:#efe0d5;
    color: #222f44;
    border-radius: 20px;
}
